          <h1>Still Open...</h1>

<div class="container">
  <table class="table table-bordered table-hover">
    <tr>
      <th class="text-left">Name</th>
      <th class="text-left">Distance from you</th>
      <th class="text-left">Closes at</th>
      <th class="text-left">Map</th>
    </tr>

    <% @results.sort_by { |result| result[:distance] || 0 }.each do |result| %>
      <tr>
        <% if result.open == true %>
          <td><%= result.name %></td>
          <td><%= result.distance %> miles</td>
          <td><%= result.closes_at %></td>
          <td><iframe
                width="200"
                height="200"
                frameborder="0" style="border:0"  
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAqeTLVAmIQLoohXsO25ULnKW_VX8I7bn4&q=<%=result.street.parameterize %>-<%= result.city.parameterize %>-<%= result.state.parameterize %>-<%= result.zip.parameterize %>">
              </iframe>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

