<%= nav_bar fixed: :top, responsive: true do %>
	<div id="nav-row">
		<%= menu_group inline: true do %>
		<div class="logo">
			<%= menu_item image_tag('midnight_sky.png', size: "80x80", id: "brand"), root_path  %>
		</div>
		<% end %>
	
		<%= menu_group pull: :right do %>
			<% if current_user %>
				Signed in as <%= current_user.name %>
				<%= menu_item "Logout", logout_path, id: "logout" %>
			<% else %>
					<%= menu_item "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
					<%= menu_item "Sign in with Twitter", "/auth/twitter", id: "sign_in" %>
			<% end %>
		<% end %>
	</div>
<% end %>



