<%= nav_bar fixed: :top, responsive: true do %>
	<div id="nav-row">
		<%= menu_group inline: true do %>
			<%= menu_item image_tag("logo5.png", size: "45x45", id: "brand"), root_path %></a>
			<%= menu_item "After Midnight", root_path, id: "site-name" %>
		<% end %>
	
		<%= menu_group pull: :right do %>
			<% if current_user %>
				Signed in as <%= current_user.name %>
				<%= menu_item "Logout", logout_path, id: "logout" %>
			<% else %>
					<%= menu_item "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
					<%= menu_item "Sign in with Twitter", "/auth/twitter", id: "sign_in" %>
			<% end %>
		<% end %>
	</div>
<% end %>



